{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row mt-5">
		<div class="col-6 mt-5">
			<p>You have added {{no_of_items}} items</p>
			<p>Click here to add more <a href="{% url 'add_item' %}">Add</a></p>
		</div>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th><input type="checkbox" value="1" name="user-all" class="user-all"></th>
						<th>Item </th>
						<th>Type </th>
					</tr>
				</thead>
				<tbody>
					{% csrf_token %}
					{% for item in items %}
					<tr>
						<td><input type="checkbox" name="ckeck_user[]" class="ckeck_user" value="{{ item.id }}"></td>
						<td>{{ item.item|title }}</td>
						<td>{{ item.item_type }}</td>
						<td>
							<a href="{% url 'delete-item' item.id %}">Delete</a>
							<a href="{% url 'edit-item' item.id %}">Edit</a>
							<a href="{% url 'item-details' item.id %}">View</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
	</div>
</div>
{% endblock content %}